<div id="itinerario" style="height:100%" >

    <div class="well" style="height:120px; ">
        <h2 align="center">{{currentRecord.nombre}}</h2> <!--<h1>{{objectValue.data}}</h1>-->
        <h4 align=center class="dl-horizontal"><strong>FECHA INICIO</strong>: {{currentRecord.fechaInicio|date}} - <strong>FECHA FIN:</strong> {{currentRecord.fechaFin|date}} </h4>
    </div>

    <div class="well" style="margin:5px; height:340px; ">
        <img src="http://images.nationalgeographic.com/wpf/media-live/richmedia/0/565/project/timeline_water_exploration_v26/images/timeline_main.png" alt="Timeline" style="width:100%">
    </div>

    <br>

    <div style="justify-content: center; height: 100%">
        <div class="col-sm-6" style="overflow: auto; height:100%">
            <div class="col-sm-12 well" style="text-align: center;height:100%">

                <h2>Ciudades</h2>

                <br>
                <br>

                <table id="tabla" border="1" class="table table-bordered">
                    <tr>
                        <td ALIGN=center> <b>Ciudades</b> </td>
                        <td ALIGN=center> <b>Fecha Inicio</b></td>
                        <td ALIGN=center> <b>Fecha Fin</b></td>
                        <td ALIGN=center> <b>Detalles</b> </td>
                        <td ALIGN=center> <b>Borrar</b> </td>
                    </tr>
                    <tr ng-repeat="nc in currentCiudadesMostrar">
                        <td>{{nc.nombre}}</td>
                        <td>{{nc.fechaInicio|date}}</td>
                        <td>{{nc.fechaFin|date}}</td>
                        <td><a href="javascript:window.scrollTo(0,1100)"><button  id="detalles" type="button" class="btn btn-success" name="{{nc.id}}"  ng-click="ctrl.detallesCiudad($event); " > Detalles </button></a></td>
                        <td><button id="borrar" type="button" class="btn btn-success" name="{{nc.id}}"  ng-click="ctrl.borrarCiudad($event); " > Borrar </button></td>
                    </tr>
                </table>

                <br>

                <div class="row">
                    <button id="button_agregar_nueva_ciudad" type="button" class="btn btn-success" data-toggle="modal" data-target="#popCiudad"> Agregar Nueva Ciudad </button>
                </div>
            </div>
        </div>

        <div class="col-sm-6" style="overflow: auto; margin-bottom: 30px; height:100%;">
            <div class="col-sm-12 well" style=" text-align: center; height: 100%;">
                <h2>Mapa</h2>
                <div id="map" style="width: 100%; min-height: 400px; text-align: center; height:100%;">
                    <script>
                        function initMap() {
                            var mapDiv = document.getElementById('map');
                            var map = new google.maps.Map(mapDiv, {
                              center: {lat: 4.598889, lng: -74.080833},
                              zoom: 10
                            });
                        };
                    </script>
                    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
                 </div>
                <!--<iframe id="calend" src="https://calendar.google.com/calendar/embed?title=Itinerario1&amp;showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;height=200&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=vl5fj8rdjo9q47e2g0n5tau224%40group.calendar.google.com&amp;color=%231B887A&amp;ctz=America%2FBogota" style="border-width:0; width: 95%; height: 400px; text-align: center;" frameborder="0" scrolling="no"></iframe>-->
            </div>
        </div>
    </div>

    <br>

    <div  id="detallesCiudad" class="col-sm-12 " style="justify-content: center " >
        <div class="col-sm-12 well" style="overflow: auto; ">
            <div style="display:flex; justify-content: center; background-color:#FFFF00; border-radius: 8px">
                <div style = "margin:0 auto;">
                    <h2 style="text-align: center"> {{currentCiudadMostrar.nombre}} </h2>
                    <p>{{currentCiudadMostrar.detalles}}</p>
                </div>
                <div class="img-circle" id="image" style="justify-content: center;margin:0 auto;">
                    <img class="img-rounded" style="height: 200px; margin:-5px; " src="{{currentCiudadMostrar.imagen}}" alt="" />
                </div>
            </div>
            

            <div class="col-sm-6" ng-app="eventos" style="overflow: auto; text-align: center">
                <h3>Eventos </h3>
                <br>
                <table border="1" class= "table table-bordered">
                    <tr>
                        <td ALIGN=center ><b>Mis Eventos</b></td>
                        <td ALIGN="center" ><b>Detalles</b></td>
                        <td ALIGN="center" ><b>Calificar</b></td>
                        <td ALIGN="center" ><b>Borrar</b></td>
                    </tr>
                    <tr ng-repeat="evento in currentEventosMostrar track by $index">
                        <td>{{evento.nombre}}</td>
                        <td><button id="button_detalles_evento" type="button" class="btn btn-success " name="{{evento.id}}" data-toggle="modal" ng-click="ctrl.detallesEvento($event)" data-target="#popDetallesEvento"> Detalles </button></td>
                        <td><button id="button_calificar_evento" type="button" class="btn btn-success " data-toggle="modal" data-target="#popCalificarEvento"> Calificar </button></td>
                        <td><button id="button_borrar_evento" type="button" class="btn btn-success" name="{{evento.id}}" ng-click="ctrl.borrarEvento($event);" > Borrar </button></td>
                    </tr>

                </table>

                <div class="row">
                    <button id="button_agregar_evento" type="button" class="btn btn-success" data-toggle="modal" data-target="#popEvento" ng-click="ctrl.fetchEventosBD(currentCiudadMostrar.id);"> Agregar Evento </button>
                </div>
              </div>

            <div class="col-sm-6" style="overflow:auto; text-align: center">
                <h3> Sitios de Interés </h3>
                <br>
                <table border="1" class= "table table-bordered">
                    <tr>
                        <td ALIGN=center><b>Mis Sitios</b></td>
                        <td ALIGN="center" ><b>Detalles</b></td>
                        <td ALIGN="center" ><b>Calificación</b></td>
                        <td ALIGN="center" ><b>Borrar</b></td>
                    <tr ng-repeat="nc in currentSitiosMostrar track by $index">
                        <td>{{nc.nombre}}</td>
                        <td><button id="button_detalles_sitio" type="button" class="btn btn-success " name="{{nc.id}}" data-toggle="modal" ng-click="ctrl.detallesSitio($event)" data-target="#popDetallesSitio"> Detalles </button></td>
                        <td><button id="button_calificar_sitio" type="button" class="btn btn-success " data-toggle="modal" data-target="#popCalificarSitio"> Calificar </button></td>
                        <td><button id="button_borrar_sitio" type="button" class="btn btn-success" name="{{nc.id}}" ng-click="ctrl.borrarSitio($event)"> Borrar </button></td>
                    </tr>
                </table>
                <div class="row">
                    <button id="button_agregar_sitio" type="button" class="btn btn-success" data-toggle="modal" data-target="#popSitio" ng-click="ctrl.fetchSitiosBD(currentCiudadMostrar.id);"> Agregar Sitio </button>
                </div>
            </div>
        </div>
    </div>

    <p ALIGN="center"> <a href="javascript:window.scrollTo(0,500)" style="text-align:center; font-size: 120%;" id="volver" class="btn btn-success" > Volver Arriba </a> </p>
    <br>
    <br>

</div>

<!--pop up agregar ciudad-->
<div class="modal fade" id="popCiudad" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ctrl.fetchCurrentCiudades();"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Agregar Ciudad</h4>
            </div>
            <div class="modal-body">
                <form>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5">
                        <p>Ingrese fecha de inicio:</p>
                        <input type="date" class="form-control" title="Fecha Inicio" ng-model = "fechaIni" name="ini"  max="2020-12-31">
                    </div>
                    <div class="col-sm-5">
                        <p>Ingrese fecha de fin:</p>
                        <input type="date" class="form-control" title="Fecha Fin" ng-model = "fechaFin" name="fin" max="2020-12-31">
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                             <table border="1" class="table table-bordered" >
                                <tr ng-repeat="cBD in ciudadesBD">
                                  <td align="left">{{cBD.nombre}}</td>
                                  <td align="center"><button type="button" name="{{cBD.id}}" class="btn btn-success " data-dismiss="modal" ng-click="ctrl.agregarCiudad($event);"> Agregar Ciudad </button></td>
                                </tr>
                            </table>
                        </div>
                    <div class="col-sm-1"></div>
                 </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

<!--pop up agregar evento-->
<div class="modal fade" id="popEvento" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ctrl.fetchCurrentEventos();"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Agregar Evento</h4>
            </div>
            <div class="modal-body">
                <form>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1"></div>
                </div>
                <br>
                   <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <br>
                            <table border="1" class="table table-bordered" >
                                <tr ng-repeat="evento in eventosBD">
                                    <td align="left">{{evento.nombre}}</td>
                                    <td align="center"><button type="button" name="{{evento.id}}" class="btn btn-success " data-dismiss="modal" ng-click="ctrl.agregarEvento($event);"> Agregar Evento </button></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-sm-1">
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

<!--pop up agregar sitio-->
<div class="modal fade" id="popSitio" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ctrl.fetchCurrentSitios();"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Agregar Sitio</h4>
            </div>
            <div class="modal-body">
                <form>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1"></div>
                </div>
                <br>
                   <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <br>
                            <table border="1" class="table table-bordered" >
                                <tr ng-repeat="sitio in sitiosBD">
                                    <td align="left">{{sitio.nombre}}</td>
                                    <td align="center"><button type="button" name="{{sitio.id}}" class="btn btn-success " data-dismiss="modal" ng-click="ctrl.agregarSitio($event);"> Agregar Sitio </button></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-sm-1">
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

<!--pop up calificar evento-->
<div class="modal fade" id="popCalificarEvento" tabindex="-1" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Calificar Evento</h4>
      </div>
      <div class="modal-body">
         <form>
<!--            <script type="text/javascript" style="display: none">
            .rating {
              unicode-bidi: bidi-override;
              direction: rtl;
            }
            .rating > span {
              display: inline-block;
              position: relative;
              width: 1.1em;
            }
            .rating > span:hover:before,
            .rating > span:hover ~ span:before {
               content: "\2605";
               position: absolute;
            }
            </script>-->

             <div class="rating" style="float:left">
                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
            </div>
            <div class="input-group" style="width: 100%">
               <input type="text" class="form-control" placeholder="Inserte aquí su comentario" ng-model="comentario">
            </div>
        </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" ng-click="calificar_evento(evento,comentario,calificacion)" data-dismiss="modal">Guardar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>

<!--pop up calificar sitio-->
<div class="modal fade" id="popCalificarSitio" tabindex="-1" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Calificar Sitio</h4>
      </div>
      <div class="modal-body">
         <form>
             <div class="rating" style="float:left">
                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
            </div>
            <div class="input-group" style="width: 100%">
               <input type="text" class="form-control" placeholder="Inserte aquí su comentario" ng-model="comentario">
            </div>
        </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" ng-click="calificar_sitio(sitio,comentario,calificacion)" data-dismiss="modal">Guardar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>

<!--pop up detalles evento-->
<div class="modal fade" id="popDetallesEvento" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Info Evento</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="well" style="display:flex; justify-content: center;">
                        <fieldset>
                            <div class="well" style="height: 200px; display: flex; justify-content:center; background-color:yellow;">
                                <img class="img-rounded" style="height: 200px; margin:-5px; " src="{{currentCiudadMostrar.imagen}}" alt="">
                            </div>
                            <br>
                             <div class="form-group col-md-11">
                                <label for="name" class="col-md-4 control-label">Nombre</label>
                                <div class="col-md-8">
                                    <p>{{currentEventoMostrar.nombre}}</p>
                                </div>
                            </div>
                            <!--<div class="form-group col-md-11">
                                <label for="name" class="col-md-4 control-label">Fecha</label>
                                <div class="col-md-8">
                                    <p>{{currentEventoMostrar.fecha|date}}</p>
                                </div>
                            </div>-->
                            <div class="form-group col-md-11">
                                <label for="name" class="col-md-4 control-label">Detalles</label>
                                <div class="col-md-8">
                                    <p>{{currentEventoMostrar.detalles}}</p>
                                </div>
                            </div>
                            <!--
                            <div class="form-group col-md-11">
                                <label for="name" class="col-md-7 control-label">Calificaciones</label>
                                <div class="rating" style="float:left;">
                                   <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                </div>
                            </div>
                            <div class="form-group col-md-11">
                                <label for="name" class="col-md-4 control-label">Comentarios</label>
                                <div class="col-md-8">
                                    <input id="name" name="name" class="form-control" type="text" readonly="">
                                </div>
                            </div>
                            -->
                        </fieldset>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

<!--pop up detalles sitio-->
<div class="modal fade" id="popDetallesSitio" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Info Sitio</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="well" style="display:flex; justify-content: center;">
                        <fieldset>
                            <div class="well" style="height: 200px; display: flex; justify-content:center; background-color:yellow;">
                                <img class="img-rounded" style="height: 200px; margin:-5px; " src='{{currentSitioMostrar.imagen}}' alt="">
                            </div>
                            <br>
                            <div class="form-group col-md-11">
                                <label for="name" class="col-md-4 control-label">Nombre</label>
                                <div class="col-md-8" style="margin: 5 px; ">
                                    <p>{{currentSitioMostrar.nombre}} </p>
                                </div>
                            </div>
                            <div class="form-group col-md-11">
                                <label for="name" class="col-md-4 control-label">Fecha</label>
                                <div class="col-md-8" style="margin: 5 px; ">
                                    <p>{{currentSitioMostrar.fecha|date}} </p>
                                </div>
                            </div>
                            <div class="form-group col-md-11">
                                <label for="name" class="col-md-4 control-label">Descripción</label>
                                <div class="col-md-8">
                                    <p>{{currentSitioMostrar.detalles}}</p>
                                </div>
                            </div>

                            <!--
                            <div class="form-group col-md-11">
                                <label for="name" class="col-md-7 control-label">Calificaciones</label>
                                <div class="rating" style="float:left;">
                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                </div>
                            </div>
                            <div class="form-group col-md-11">
                                <label for="name" class="col-md-4 control-label">Comentarios</label>
                                <div class="col-md-8">
                                    <input id="name_s" name="name_s" class="form-control" type="text" readonly="">
                                </div>
                            </div>
                            -->
                        </fieldset>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>


 <!--
  version 1.48
  agular-gmaps
  http://expo.getbootstrap.com/
  http://bootsnipp.com/
  http://ngmodules.org/
  add to cart: http://plnkr.co/edit/zW7k8J9it1NIJE3hEwWI?p=preview
 -->

