<div id="ciudad" style="height:100%" >
    <div style="justify-content: center; height: 100%">
        <div class="col-sm-12 well" style="text-align: center;height:100%">

            <h2>Ciudades</h2>

            <br>



            <br>

            <table id="tabla" border="1" class="table table-bordered">
                <tr>
                    <td ALIGN=center> <b>Ciudad</b> </td>
                    <td ALIGN=center> <b>Descripcion</b></td>
                    <td ALIGN=center> <b>Sitios</b></td>
                    <td ALIGN=center> <b>Eventos</b></td>
                </tr>
                <tr ng-repeat="nc in ciudades">
                    <td>{{nc.nombre}}</td>
                    <td>{{nc.detalles}}</td>
                    <td><button id="sitios" type="button" class="btn btn-success" name="{{currentCiudad.id}}-{{nc.id}}"  ng-click="ctrl.fetchSitios({{nc.id}}); " > Ver Sitios </button></td>
                 <td><button id="eventos" type="button" class="btn btn-success" name="{{currentCiudad.id}}-{{nc.id}}"  ng-click="ctrl.fetchEventos({{nc.id}}); " > Ver Eventos </button></td>

                </tr>
            </table>

            <br>

            <button id="button_agregar_nueva_ciudad" type="button" class="btn btn-success" data-toggle="modal" data-target="#popCiudad"> Agregar Nueva Ciudad </button>

        </div>
    </div>
       <div style="justify-content: center; height: 100%">
        <div class="col-sm-12 well" style="text-align: center;height:100%">

            <h2>Eventos</h2>

            <br>

            <p>Ciudad: {{currentCiudad.nombre}}</p>

            <br>

            <table id="tabla" border="1" class="table table-bordered">
                <tr>
                    <td ALIGN=center> <b>Evento</b> </td>
                    <td ALIGN=center> <b>Descripcion</b></td>

                </tr>
                <tr ng-repeat="nc in currentCiudad.eventos">
                    <td>{{nc.nombre}}</td>
                    <td>{{nc.detalles}}</td>

                    <td><button id="borrar" type="button" class="btn btn-success" name="{{currentCiudad.id}}-{{nc.id}}"  ng-click="ctrl.deleteEvento($event); " > Borrar </button></td>
                </tr>
            </table>

            <br>

             <button id="button_agregar_nuevo_evento" type="button" class="btn btn-success" data-toggle="modal" data-target="#popEvento"> Agregar Nuevo Evento </button>

        </div>
    </div>
     <div style="justify-content: center; height: 100%">
        <div class="col-sm-12 well" style="text-align: center;height:100%">

            <h2>Sitios</h2>

            <br>

            <p>Ciudad: {{currentCiudad.nombre}}</p>

            <br>

            <table id="tabla" border="1" class="table table-bordered">
                <tr>
                    <td ALIGN=center> <b>sitio</b> </td>
                    <td ALIGN=center> <b>Descripcion</b></td>

                </tr>
                <tr ng-repeat="nc in currentCiudad.sitios">
                    <td>{{nc.nombre}}</td>
                    <td>{{nc.detalles}}</td>

                    <td><button id="borrar" type="button" class="btn btn-success" name="{{currentCiudad.id}}-{{nc.id}}"  ng-click="ctrl.deleteSitios($event); " > Borrar </button></td>
                </tr>
            </table>

            <br>

            <button id="button_agregar_nuevo_sitio" type="button" class="btn btn-success" data-toggle="modal" data-target="#popSitio"> Agregar Nuevo Sitio </button>
        </div>
    </div>
     <div style="justify-content: center; height: 100%">
        <div class="col-sm-12 well" style="text-align: center;height:100%">

            <h2>Viajeros</h2>

            <br>

            <p>Viajero {{currentViajero.nombre}}</p>

            <br>

            <table id="tabla" border="1" class="table table-bordered">
                <tr>
                    <td ALIGN=center> <b>Email</b> </td>
                    <td ALIGN=center> <b>Imagen</b></td>
                    <td ALIGN=center> <b>Contrasena</b></td>
                    <td ALIGN=center> <b>Borrar</b></td>
                </tr>
                <tr ng-repeat="nc in ctrl.fetchViajeros()">
                    <td>{{nc.nombre}}</td>
                    <td>{{nc.image}}</td>
                    <td>{{nc.password}}</td>
                    <td><button id="borrar" type="button" class="btn btn-success" name="{{currentViajero.id}}-{{nc.id}}"  ng-click="ctrl.deleteViajero($event); " > Borrar </button></td>
                </tr>
            </table>

            <br>

            <button id="borrar" type="button" class="btn btn-success"  ng-click="ctrl.fetchViajeros(currentViajero); " > Actualizar Hoteles </button>

        </div>
    </div>
</div>

<!--pop up agregar ciudad-->
<div class="modal fade" id="popCiudad" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Agregar Ciudad</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-1"></div>
                            <div class="col-sm-5">
                                <p>Nombre:</p>
                                <input type="text" class="form-control" title="Nombre" ng-model = "nombre" name="nombre" >
                            </div>
                        <div class="col-sm-5">
                                <p>Descripcion:</p>
                                <input type="text" class="form-control" title="Detalles" ng-model = "detalles" name="detalles" >
                            </div>
                        <div class="col-sm-5">
                                <p>Link imagen:</p>
                                <input type="text" class="form-control" title="imagen" ng-model = "imagen" name="imagen" >
                            </div>

                        <div class="col-sm-1"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-1"></div>
                            <div class="col-sm-10">


                                      <button type="button" name="Agregar" class="btn btn-success " data-dismiss="modal" ng-click="ctrl.agregarCiudad(nombre, detalles, imagen);"> Agregar Ciudad </button>
                            </div>
                        <div class="col-sm-1"></div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<!--pop up agregar Sitio-->
<div class="modal fade" id="popSitio" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Agregar Sitio</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-1"></div>
                            <div class="col-sm-5">
                                <p>Nombre:</p>
                                <input type="text" class="form-control" title="Nombre" ng-model = "nombre" name="nombre" >
                            </div>
                        <div class="col-sm-5">
                                <p>Descripcion:</p>
                                <input type="text" class="form-control" title="Detalles" ng-model = "detalles" name="detalles" >
                            </div>
                        <div class="col-sm-5">
                                <p>Link imagen:</p>
                                <input type="text" class="form-control" title="imagen" ng-model = "imagen" name="imagen" >
                            </div>

                        <div class="col-sm-1"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-1"></div>
                            <div class="col-sm-10">


                                      <button type="button" name="Agregar" class="btn btn-success " data-dismiss="modal" ng-click="ctrl.saveSitio(nombre, detalles, imagen);"> Agregar Ciudad </button>
                            </div>
                        <div class="col-sm-1"></div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<!--pop up agregar Sitio-->
<div class="modal fade" id="popSitio" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Agregar Evento</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-1"></div>
                            <div class="col-sm-5">
                                <p>Nombre:</p>
                                <input type="text" class="form-control" title="Nombre" ng-model = "nombre" name="nombre" >
                            </div>
                        <div class="col-sm-5">
                                <p>Descripcion:</p>
                                <input type="text" class="form-control" title="Detalles" ng-model = "detalles" name="detalles" >
                            </div>
                        <div class="col-sm-5">
                                <p>Link imagen:</p>
                                <input type="text" class="form-control" title="imagen" ng-model = "imagen" name="imagen" >
                            </div>

                        <div class="col-sm-1"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-1"></div>
                            <div class="col-sm-10">


                                      <button type="button" name="Agregar" class="btn btn-success " data-dismiss="modal" ng-click="ctrl.saveEvento(nombre, detalles, imagen);"> Agregar Ciudad </button>
                            </div>
                        <div class="col-sm-1"></div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>