<div id="ciudad" style="height:100%" >
    <div style="justify-content: center; height: 100%">
        <div class="col-sm-12 well" style="text-align: center;height:100%">

            <h2>Hoteles</h2>

            <br>

            <p>Ciudad: {{currentCiudad.nombre}}</p>

            <br>

            <table id="tabla" border="1" class="table table-bordered">
                <tr>
                    <td ALIGN=center> <b>Hotel</b> </td>
                    <td ALIGN=center> <b>Direccion</b></td>
                    <td ALIGN=center> <b>Direccion</b></td>
                    <td ALIGN=center> <b>Borrar</b></td>
                </tr>
                <tr ng-repeat="nc in currentCiudad.hoteles">
                    <td>{{nc.nombre}}</td>
                    <td>{{nc.direccion}}</td>
                    <td>{{nc.direccion}}</td>
                    <td><button id="borrar" type="button" class="btn btn-success" name="{{currentCiudad.id}}-{{nc.id}}"  ng-click="ctrl.deleteHotel($event); " > Borrar </button></td>
                </tr>
            </table>

            <br>

            <button id="borrar" type="button" class="btn btn-success"  ng-click="ctrl.fetchHoteles(currentCiudad); " > Actualizar Hoteles </button>

        </div>
    </div>
       <div style="justify-content: center; height: 100%">
        <div class="col-sm-12 well" style="text-align: center;height:100%">

            <h2>Eventos</h2>

            <br>

            <p>Ciudad: {{currentCiudad.nombre}}</p>

            <br>

            <table id="tabla" border="1" class="table table-bordered">
                <tr>
                    <td ALIGN=center> <b>Evento</b> </td>
                    <td ALIGN=center> <b>Descripcion</b></td>

                </tr>
                <tr ng-repeat="nc in currentCiudad.eventos">
                    <td>{{nc.nombre}}</td>
                    <td>{{nc.detalles}}</td>

                    <td><button id="borrar" type="button" class="btn btn-success" name="{{currentCiudad.id}}-{{nc.id}}"  ng-click="ctrl.deleteEvento($event); " > Borrar </button></td>
                </tr>
            </table>

            <br>

            <button id="borrar" type="button" class="btn btn-success"  ng-click="ctrl.fetchEventos(currentCiudad); " > Actualizar Eventos </button>

        </div>
    </div>
     <div style="justify-content: center; height: 100%">
        <div class="col-sm-12 well" style="text-align: center;height:100%">

            <h2>Sitios</h2>

            <br>

            <p>Ciudad: {{currentCiudad.nombre}}</p>

            <br>

            <table id="tabla" border="1" class="table table-bordered">
                <tr>
                    <td ALIGN=center> <b>sitio</b> </td>
                    <td ALIGN=center> <b>Descripcion</b></td>

                </tr>
                <tr ng-repeat="nc in currentCiudad.sitios">
                    <td>{{nc.nombre}}</td>
                    <td>{{nc.detalles}}</td>

                    <td><button id="borrar" type="button" class="btn btn-success" name="{{currentCiudad.id}}-{{nc.id}}"  ng-click="ctrl.deleteSitios($event); " > Borrar </button></td>
                </tr>
            </table>

            <br>

            <button id="borrar" type="button" class="btn btn-success"  ng-click="ctrl.fetchSitios(currentCiudad); " > Actualizar Sitios </button>

        </div>
    </div>
</div>
