<div ng-controller="ctrl" id="itinerario">

    <div class="well" style="height:120px; ">
        <h2 align="center">Itinerario 1</h2> <!--<h1>{{objectValue.data}}</h1>-->
        <h4 align=center class="dl-horizontal"><strong>FECHA INICIO</strong>: 01/02/2016 - <strong>FECHA FIN:</strong> 15/03/2016</h4>
    </div>

    <div class="well" style="margin:5px; height:310px; ">
        <div id="map" style="width: 100%; height: 270px; text-align: center">
            <script>
              function initMap() {
                var mapDiv = document.getElementById('map');
                var map = new google.maps.Map(mapDiv, {
                  center: {lat: 4.598889, lng: -74.080833},
                  zoom: 10
                });
              };
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
        </div>
    </div>

    <br>

    <div class="col-sm-6" style="height:500px; ">
        <div class="col-sm-12 well" style="height:500px; text-align: center">
            <h2>Ciudades</h2>
            
            <br>
           
                <div class="row">
            <div class="col-xs-7">
                <input id="textbox" type="text" class="form-control" title="Escriba el nombre de la ciudad" placeholder="Ciudad" ng-model="nueva_ciudad" />
            </div>
            <button id="button_agregar_nueva_ciudad" type="button" class="btn btn-primary btn-sm" ALIGN="left" ng-click="agregar(nueva_ciudad)"> agregar nueva ciudad </button>
           
            </div>
            <br>

            <table id="tabla" border="1" class="table table-bordered">
              <tr>
                  <td ALIGN=center> <b>Detalles</b> </td>
                  <td ALIGN=center> <b>Ciudades</b> </td>
              </tr>
              <tr ng-repeat="nc in ciudades">
                <td><button type="button" class="btn btn-primary" ng-click="detalles(nc)"> . </button></td>
                <td>{{nc}}</td>
              </tr>
            </table>
        </div>
    </div>

    <div class="col-sm-6" style="height:500px; ">
        <div class="col-sm-12 well" style="height:500px; text-align: center">
          <h2>Calendario</h2>
          <iframe id="calend" src="https://calendar.google.com/calendar/embed?title=Itinerario1&amp;showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;height=200&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=vl5fj8rdjo9q47e2g0n5tau224%40group.calendar.google.com&amp;color=%231B887A&amp;ctz=America%2FBogota" style="border-width:0; width: 95%; height: 400px; text-align: center;" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>

    <br>

    <div class="col-sm-12" style="height:500px; ">
        <div class="col-sm-12 well" style="height:500px; ">
            <h2 style="text-align: center"> Ciudad </h2>
            <div class="col-sm-6" ng-app="agregar_evento" ng-controller="ctrl" style="height:500px; text-align: center">
                <h3>Eventos </h3>
                <br>
                <div id="opciones">
                    <form>
                        <div class="row">
                        <div class="col-sm-6">
                        <select class="form-control" name="OpcionEventos" ng-model="nuevo_evento" >
                            <option selected value="1">Seleccione una opcion</option>
                            <option value="2">Millonarios - Nacional</option>
                            <option value="3">COLDPLAY</option>
                            <option value="4">Fiesta Andres</option>
                             <option value="5">Festival Estereo Picnic</option>
                            <option value="6">Show Pirotecnicos Monserrtate</option>
                            <option value="7">Festival Internacional de Teatro</option>
                            <option value="8">Universidad de los Andes</option>
                             <option value="9">Rolling Stones en concierto</option>
                        </select>
                            </div>
                        <button id="button_agregar_evento" type="button" class="btn btn-primary " ng-click="add(nuevo_e)" > Agregar Evento </button>
                        </div>
                    </form>
                </div>
                <br>
                <br>
                <table border="1" class= "table table-bordered">
                    <tr>
                        <td aLIGN=center ><b>Mis Eventos</b></td>
                    </tr>
                    <tr ng-repeat="nc in eventos">
                        <td>{{nc}}</td>
                    </tr>
                    <tr><td>Festival Estereo Picnic  </td></tr>
                    <tr><td>Festival Internacional de Teatro </td></tr>
                    <tr><td>Rolling Stones en concierto  </td></tr>
                </table>
              </div>

            <div class="col-sm-6" style="height:500px; text-align: center">
                <h3> Sitios de Interés </h3>
                <br>
                    <div id="opciones">
                        <div class="row">
                        <div class="col-sm-5">
                        <select class="form-control" name=sitio>
                            <option>Seleccione una opcion</option>
                            <option>          </option>
                            <option>Museo del oro</option>
                            <option>Parque Simon Bolivar</option>
                            <option>Estadio el campin</option>
                            <option>Centro Andino</option>
                            <option>Universidad de los Andes</option>
                        </select>
                        </div>
                            <div class="col-sm-4">
                        <input type="date" class="form-control" title="Escriba la fecha del evento" name="bday" max="1979-12-31">
                         </div>
                        <button id="button_agregar_sitio" type="button" class="btn btn-primary" > Agregar sitio</button>
                        </div>
                        <br>
                   
                      <br>
                    <table border="1" class= "table table-bordered">
                        <tr>
                            <td ALIGN=center><b>Mis Sitios</b></td>
                        </tr>
                        <tr><td>Andres Carne de Res </td></tr>
                    </table>
            </div>
        </div>
    </div>

 <!--
  version 1.48
  agular-gmaps
  http://expo.getbootstrap.com/
  http://bootsnipp.com/
  http://ngmodules.org/
  add to cart: http://plnkr.co/edit/zW7k8J9it1NIJE3hEwWI?p=preview
 -->
</div>