<!DOCTYPE html>
<html>

  <head>
    <title> Itinerario </title>
    <script data-require="angular.js@1.4.8" data-semver="1.4.8" src="https://code.angularjs.org/1.4.8/angular.js"></script>
    <link rel="stylesheet" href="itinerarioCSS.css" />
    <script src="script.js"></script>
  </head>

  <body>
    
     <script>
     
      angular.module("agregar_ciudad", []);
      angular.module("agregar_ciudad")
        .controller("ctrl", function($scope){
          $scope.nueva_ciudad = "";
          $scope.ciudades = [];
          
          $scope.agregar = function(nueva_ciudad){
            $scope.ciudades.push(nueva_ciudad);
            $scope.nueva_ciudad = "";
          }
          
          $scope.detalles = function(nc){
            window.alert("se muestran abajo en la parte que esta haciendo nicolas")
          }
          
        });
      
    </script>
    
    <h1>Itinerario 1</h1>
    
    <div id="fechas">
    <p> FECHA INICIO: 01/02/2016   -   FECHA FIN:    15/03/2016 </p>
    </div>
    
    <h2>Mapa</h2>
    <div id="map"></div>
    <script>
      function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
          center: {lat: 4.598889, lng: -74.080833},
          zoom: 10
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>

    
    <div id="agregar_ciudad" ng-app="agregar_ciudad" ng-controller="ctrl">
      
      <h2>Ciudades</h2>
      
      <p>
      <input id="textbox" type='text' ng-model="nueva_ciudad" /> 
      <button id="button_agregar_nueva_ciudad" ng-click="agregar(nueva_ciudad)"> agregar nueva ciudad </button>
      </p>
      
      <table border="1" class="mytable">
        <tr>
          <td>Detalles</td>
          <td>Ciudades</td>
        </tr>
        <tr ng-repeat="nc in ciudades">
          <td><button ng-click="detalles(nc)"> . </button></td>
          <td>{{nc}}</td>
        </tr>
      </table>
       
    </div>
    
    <div id="calendario">
      
      <h2>Calendario</h2>
      <iframe id="calend" src="https://calendar.google.com/calendar/embed?title=Itinerario1&amp;showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;height=400&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=vl5fj8rdjo9q47e2g0n5tau224%40group.calendar.google.com&amp;color=%231B887A&amp;ctz=America%2FBogota" style="border-width:0" frameborder="0" scrolling="no"></iframe>
      
    </div>
    
  </body>
  
<!--
  172.24.99.228
  2e4l7f9g
  
  version 1.48
  
  agular-gmaps
  
  http://expo.getbootstrap.com/
  http://bootsnipp.com/
  http://ngmodules.org/
  add to cart: http://plnkr.co/edit/zW7k8J9it1NIJE3hEwWI?p=preview
 -->

</html>