/* Styles go here */

html {
    font-family: "Arial", Sans-serif;
    color: black;
}

body{
    text-align: center;
}

table {
    width: 95%;
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}

th, td {
    padding: 15px;
    text-align: center;
}

h2{
    text-align: center;
}

#fechas{
    text-align: center;
}

#map {
  width: 100%;
  height: 270px;
  text-align: center;
}

#agregar_ciudad{
     height: 490px;
  float: left;
  width: 50%;
  text-align: center;
  margin:auto;
}

#textbox{
    width: 70%;
    padding:10px;
    border: 1px solid black;
}

#button_agregar_nueva_ciudad{
  width: 25%;
  padding: 10px;
}

#calendario{
  float: right;
  width: 50%;
  margin:auto;
  text-align: center;
}

#calend{
   width: 90%;
   height: 400px;
   text-align: center;
}
#grilla{
    display: grid;
    grid-template-columns: minmax(min-content, 1fr);
}

#sitio{

    grid-column:1;
      float: left;
  width: 50%;
  text-align: center;
  margin:auto;
}
#evento{

    grid-column:2;
    float: right;
  width: 50%;
  text-align: center;
  margin:auto;
}
#opciones{
    text-align: center;
}
#tabla{
    width: 100%;
}