<div ng-controller="controlador" ng-init="list = true; " style="
     background: url(http://1.bp.blogspot.com/-VSSn0RksKcI/UVxgBjUiF6I/AAAAAAAAJqk/d13ffBSIb1s/s1600/Fotografia+de+un+atardecer+con+una+palmera+de+la+playa+en+medio+de+el.jpg) center center cover no-repeat fixed;">
      <!--si list es verdadero-->
      <div class="conteiner-fluid" style="justify-content: center;">
        <div class="col-sm-24" ng-if="list" style="justify-content: center">
          <div class="col-md-4 col-sm-3 col-lg-3 well" style="margin:5px; height:600px; justify-content: center;">

              <div class="img-circle" id="image" style="justify-content: center;width: 200px; margin:0 auto;">
                <p>
                  <img class="img-rounded" style="height: 200px; " src="http://files.melodiasalvatge.webnode.es/200000767-657786675e/buen-viajero-namibia.jpg" alt="" />
                </p>
              </div>

            <div class="caption">
              <p class="dl-horizontal">
                <strong>Nombre</strong>
                        : {{usuario}} </p>
              <p class="dl-horizontal">
                <strong>Correo:</strong>
                        {{correo}}</p>
            </div>
          </div>
          <div class="col-md-8 col-sm-16 col-lg-6 well" style="margin:5px;">
            <h1 class="text-center">
              <strong>Creación de itinerarios</strong>
            </h1>
            <!--formulario y creacion de itnerarios-->
            <!--si list es falso se oprimio boton create-->
            <div  class="well" style="background:rgb(117, 139, 198)">
              <!--<form novalidate="" name="form" id="itinerario-form" role="form">-->
                <fieldset>

                  <div class="form-group col-md-12">
                    <label for="name" class="col-md-2 control-label">Nombre</label>
                    <div class="col-md-10">
                      <input id="name" name="name" ng-model="itinerario"  class="form-control" type="text" />
                    </div>
                  </div>
                  <div class="form-group col-md-12">

                    <label for="date" class="col-md-2 control-label">Fecha inicial</label>

                    <div class="col-md-10">
                        <input type="date" name="date-ini" id="date-ini" class="form-control" required="" />
                    </div>

                  </div>
                  <div class="form-group col-md-12">

                  <label for="date" class="col-md-2 control-label">Fecha final</label>
                    <div class="col-md-10">
                        <input type="date" name="date-fin" id="date-fin" class="form-control" required="" />
                    </div>

                  </div>

                </fieldset>
              <!--</form>-->
            </div>
            <div class="collapse navbar-collapse" id="itinerario-buttons" style="float:right;">
              <!--en false list-->
              <!--<button id="create-itinerario" class="btn btn-default navbar-btn" ng-show="list" ng-click="list = false; ">
                <span class="glyphicon glyphicon-plus"></span>
 Agregar</button>-->
              <!--en true list-->
              <button id="save-itinerario" class="btn btn-primary navbar-btn" ng-show="list" ng-click="list = true; agregar(itinerario); setString(newValue);">
                <span class="glyphicon glyphicon-save"></span>
 Salvar</button>
             <!-- <button id="cancel-itinerario" class="btn btn-default navbar-btn" ng-show="list" ng-click="list = true">
                <span class="glyphicon glyphicon-remove"></span>
 Cancelar</button>-->
            </div>
          </div>
          <div class="col-md-8 col-sm-16 col-lg-6 well" style="margin:5px">
            <div class="col-md-10" style="margin:0px 50px 0px 50px; text-align: center; text-align: center; ">
              <h1 class="text-center">
                <strong>Sus itinerarios </strong>
              </h1>
              <br>
            </div>
            <div class="col-md-10 list-group" ng-repeat="iter in itinerarios track by $index">
              <a class="list-group-item" ui-sref="itinerario" style="width:120%;">
                <strong>{{iter}}</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>