<div  ng-init="list = true; " >
    <!--si list es verdadero-->
    <div class="conteiner-fluid" style="justify-content: center;">
        <div class="col-sm-24" ng-if="list" style="justify-content: center">
            <div class="col-md-8 col-sm-12 col-lg-5" >
                <div class=" well" style="margin:5px; overflow: auto">
                    <div class="col-md-10" style="margin:0px 50px 0px 50px; text-align: center; text-align: center; ">
                        <h1 class="text-center">
                            <strong>Mis itinerarios </strong>
                        </h1>
                        <br>
                    </div>
                    <div class="col-md-10 list-group" ng-repeat="iter in records track by $index;">
                        <a class="list-group-item" name="{{iter.id}}" ui-sref="itinerario" ng-click="ctrl.itinerarioActual($event)" style="width:120%;">
                            <strong>{{iter.nombre}}</strong>
                        </a>
                        <button ng-controller = "itinerarioCtrl" class="btn btn-success" name = "{{iter.id}}" ng-click="ctrl.borrarItinerario($event)">Borrar</button>
                    </div>
                    <div class="collapse navbar-collapse" id="agregar-button" style="float:right;">
                        <!--en false list-->
                        <button id="create-itinerario" class="btn btn-success navbar-btn" ng-show="list" ng-click="list = false; ">
                           <span class="glyphicon glyphicon-plus"></span>
                            Agregar
                        </button>
                    </div>
                </div>
                <div class="well" style="margin:5px; overflow: auto;" ng-show="!list">
                    <h1 class="text-center">
                        <strong>Creación de itinerario</strong>
                    </h1>
                    <!--formulario y creacion de itnerarios-->
                    <!--si list es falso se oprimio boton create-->
                    <div  class="well" style="background:#99FF00">
                        <!--<form novalidate="" name="form" id="itinerario-form" role="form">-->
                        <fieldset>
                            <div class="form-group col-md-12">
                                <label for="name" class="col-md-2 control-label">Nombre</label>
                                <div class="col-md-10">
                                    <input id="name" name="name" ng-model="nombreNuevoItinerario"  class="form-control" type="text" />
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="date" class="col-md-2 control-label" >Fecha inicial</label>
                                <div class="col-md-10">
                                    <input type="date" name="date-ini" id="date-ini" class="form-control" ng-model="fechaIni" required="" />
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="date" class="col-md-2 control-label" >Fecha final</label>
                                <div class="col-md-10">
                                    <input type="date" name="date-fin" id="date-fin" class="form-control" ng-model="fechaFin" required="" />
                                </div>
                            </div>
                        </fieldset>
                        <!--</form>-->
                    </div>
                    <div class="collapse navbar-collapse" id="itinerario-buttons" style="float:right;">
                        <!--en false list-->
                        <!--<button id="create-itinerario" class="btn btn-default navbar-btn" ng-show="list" ng-click="list = false; ">
                        <span class="glyphicon glyphicon-plus"></span>
                        Agregar</button>-->
                        <!--en true list-->
                        <button id="save-itinerario" class="btn btn-success navbar-btn" ng-show="!list" ng-click="list = true; ctrl.agregarItinerario(nombreNuevoItinerario,fechaIni,fechaFin); ">
                            <span class="glyphicon glyphicon-save"></span>
                            Salvar
                        </button>
                        <button id="cancel-itinerario" class="btn btn-success navbar-btn" ng-show="!list" ng-click="list = true">
                            <span class="glyphicon glyphicon-remove"></span>
                            Cancelar
                        </button>
                    </div>
                </div>
            </div>
            <div id="contenedor" class="col-md-8 col-sm-10 col-lg-6 " style="margin: 5px;">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="active item"><img  src="http://40.media.tumblr.com/tumblr_m65o8dJDtA1rzv6j6o1_1280.jpg" alt="Bogotá" />
                            <div class="carousel-caption">
                                <h3>Bogotá</h3>
                            </div>
                        </div>
                        <div class="item"><img  src="https://c1.staticflickr.com/3/2724/4176942891_3f6d1f1dcf_b.jpg" alt="Bucaramanga" />
                            <div class="carousel-caption">
                                <h3>Bucaramanga</h3>
                            </div>
                        </div>
                        <div class="item">
                            <img  src="http://static.panoramio.com/photos/large/43907931.jpg" alt="Cali"  />
                            <div class="carousel-caption label">
                                <h3>Cali</h3>
                            </div>
                        </div>
                    </div>
                    <!-- Carousel nav -->
                    <a class="carousel-control left" href="#myCarousel" data-slide="prev" role="button" ><span class="glyphicon glyphicon-chevron-left"></span></a>
                    <a class="carousel-control right" href="#myCarousel" data-slide="next" role="button"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>
            <script>
                $(document).ready(function(){
                    $('.myCarousel').carousel({
                        interval:3000,
                        pause:"hover"
                    });
                });
            </script>
        </div>
    </div>
</div>