#body
{
    background-image: url(../resources/imagenes/playa_blanco.png);

}

.navbar{

    background-color: #33CC33;
    background-image: none;
    background-repeat: no-repeat;
    background-size: 1380px;

}
.navbar-default
{
    border-color: #33CC33;
}
.navbar-default .navbar-brand
{
    color: #fff;
    font-family: Arial;

}

.navbar-default .navbar-brand:hover
{

    color: #0000CC;
    -webkit-border-radius: 1px;
    -webkit-transition: color 0.8s;
     -moz-transition: color 0.8s;
    -o-transition: color 0.8s;
    -ms-transition: color 0.8s;



}

.navbar-default .navbar-nav>li>a
{
         color: #fff;
         font-family:  Arial;
         font-size: 120%;
         font-weight: bold;


}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus
{
    background-color: #33CC33;



}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus
{
   font-family:  Arial;
   font-size :140%;
    color:   #0000CC;
     background-repeat: no-repeat;
    background-size: 20%;
    background-position: bottom;
    -webkit-transition: color 0.8s;
    -moz-transition: color 0.8s;
    -o-transition: color 0.8s;
    -ms-transition: color 0.8s;
        margin:auto;
        border-top: 2px solid #005ab3;


}

.nav
{
    margin:auto;
   color: #fff;

}

#barra ul
{
    padding:0;
    list-style: none;
}


#menunombre > li
{
    display: inline-block;
    margin-top: 3px;

}
#menuperfil > li > a
{
    margin-top: 10px;
}

#menuperfil > li > button
{


    margin-left: 70px;
    margin-right: auto;
    margin-bottom: 10px;


}



li ul
{
 position: absolute;
}

li:hover ul
{
    display:block;
}